# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Envs
.venv/
.env

# OS/Editors
.DS_Store
.vscode/
.idea/

# (اختیاری) اگر نمی‌خوای داده و نتایج برن تو گیت، این دو خط رو از حالت کامنت خارج کن:
# data/
# results/
